<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="GoogleSearchEngine" value="000337826610893293511:uv2ahpmhnbc"/>
    <add key="GoogleCustomSearchApiKey" value="AIzaSyB-wxeuq3dlGw9Ge9I0S2ry4oVPwMxnYkc"/>
    <add key="GoogleCustomSearchApiUrl" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}"/>

    <add key="BingWebSearchApiUrl" value="https://api.cognitive.microsoft.com/bing/v7.0/search?q={0}"/>
    <add key="BingWebSearchApiKey1" value="82d68fda9f4241e7a6fb864486c0dd1e"/>
    <add key="BingWebSearchApiKey2" value="307cd85b5f24464d9855bf4577b16f63"/>
    <add key="BingWebSearchApiKeyHeaderName" value="Ocp-Apim-Subscription-Key"/>
  </appSettings>
</configuration>